## sqlite - biblioteka do przechowywania bazy danych w pliku

In [ ]:
import sqlite3
from IPython.core.display import display, HTML; display(HTML("<style>.container { width:90% !important; }</style>"))

### Tworzenie bazy danych oraz tabeli

In [ ]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

In [ ]:
create_query = '''
CREATE TABLE cars (
    id          SMALLINT,    
    brand       VARCHAR(20), 
    price       NUMERIC,     
    fuel_type   TEXT,        
    mileage     NUMERIC,
    is_new      BOOLEAN,     
    prod_date   DATE         
);
'''

In [ ]:
cursor.execute(create_query)
conn.commit()

In [ ]:
cursor.close()
conn.close()

### Insertowanie danych

In [ ]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

In [ ]:
insert_query = '''
INSERT INTO cars (id, brand, price, fuel_type, mileage, is_new, prod_date) 
VALUES (3,'Fiat',19103,'Benzyna+LPG',249295,'True','2002-08-12'); 
'''

In [ ]:
cursor.execute(insert_query)
conn.commit()

cursor.close()
conn.close()

### Wczytywanie danych

In [ ]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

In [ ]:
select_query = '''
SELECT * from cars
'''

In [ ]:
cursor.execute(select_query)
results = cursor.fetchall()

cursor.close()
conn.close()

In [ ]:
results

## Komunikacja `pandas` z bazÄ… danych

In [5]:
import json
import psycopg2
import pandas as pd 
from IPython.core.display import display, HTML; display(HTML("<style>.container { width:90% !important; }</style>"))

In [6]:
db_credentials = json.load(open("credentials.json", "r"))

In [7]:
host = db_credentials["host"]
db = db_credentials["db"]
user = db_credentials["user"]
password = db_credentials["password"]
port = db_credentials["port"]

In [8]:
conn_string = f'postgresql://{user}:{password}@{host}:{port}/{db}'
conn_string

'postgresql://postgres:postgres@localhost:5432/postgres'

### Zapis danych do bazy

In [23]:
df = pd.DataFrame({"id": [1, 2], "brand": ["Audi", "Ford"], "price": [10000, 20000], "fuel_type": ["Benzyna", "Diesel"], "mileage": [150000, 120000], 
                   "is_new": [True, False], "prod_date": ['2014-02-13', '2015-10-12']})

In [24]:
df

   id brand  price fuel_type  mileage  is_new   prod_date
0   1  Audi  10000   Benzyna   150000    True  2014-02-13
1   2  Ford  20000    Diesel   120000   False  2015-10-12

In [26]:
df.to_sql('cars', conn_string, if_exists='replace', index=False)

### Odczyt danych z bazy

In [27]:
select_query = "SELECT * FROM cars"

In [28]:
pd.read_sql(select_query, conn_string)

   id brand  price fuel_type  mileage  is_new   prod_date
0   1  Audi  10000   Benzyna   150000    True  2014-02-13
1   2  Ford  20000    Diesel   120000   False  2015-10-12